* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1490px;
  margin: 0 auto;
}

header {
  background-color: #D9D9D9;
}

.img-header {
  width: 80px;
}

.header-div {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-div {
  display: flex;
  top: -120px;
  gap: 24px;
}

.header-nav-list__phone-number {
  padding-top: 8px;
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
}
.header-nav-list__phone-number-second {
  margin-top: 2px;
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
}

.header-nav-list-second__paragraph {
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
}
.header-nav-list-second__paragraph-second {
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
  padding-top: 22px;
}

.description-section {
  margin-top: 5px;
  background-image: url("/src/img/png/header-bg-img.png");
  background-repeat: no-repeat;
  height: 685px;
}
.description-section__div {
  display: flex;
  justify-content: space-between;
}

.description-list {
  padding-top: 80px;
}
.description-list__title {
  font-size: 70px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
}
.description-list__paragraph {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 25px;
}
.description-list__paragraph-help {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 6px;
}

.explain-text-div {
  display: flex;
  margin-bottom: 90px;
}
.explain-text-div__paragraph {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 80px;
}
.explain-text-div__img {
  padding-top: 170px;
  position: relative;
}

.explain-list {
  position: absolute;
  bottom: -1800px;
}
.explain-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1490px;
  height: 240px;
  background-color: #D9D9D9;
  margin-top: 50px;
  border-radius: 35px;
}
.explain-list__number {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 100px;
  margin-left: 35px;
}
.explain-list__paragraph {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  width: 1275px;
  margin-right: 35px;
}

.duginets-pendulum {
  background-image: url("/src/img/png/orange-bg.png");
  background-repeat: no-repeat;
  height: 937px;
  margin-top: 365px;
}

.duginets-pendulum-paragraph {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  width: 650px;
  padding-top: 255px;
  margin-left: 127px;
}

.video-section {
  background-image: url("/src/img/png/photo-duginets-pendulum.png");
  background-repeat: no-repeat;
  height: 1200px;
  display: flex;
  align-items: center;
}

.video-btn {
  background-color: #FFC600;
  padding: 70px 35px;
  border: none;
  border-radius: 40px;
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
  margin-left: 500px;
}

.circles {
  display: flex;
  justify-content: center;
  padding-top: 400px;
  gap: 140px;
}
.circles__yellow-circle {
  background-color: #FFC600;
  border-radius: 100%;
  width: 400px;
  height: 400px;
}
.circles__gray-circle {
  background-color: #D9D9D9;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -4595px;
}
.circles__img {
  width: 70px;
  margin-left: 165px;
  padding-top: 50px;
}
.circles__paragraph {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  width: 375px;
  padding-left: 37px;
}

.how-to-make-money-section-div {
  display: flex;
  justify-content: center;
  padding-top: 155px;
}
.how-to-make-money-section-div__paragraph {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  width: 917px;
  text-align: center;
}

.footer-section {
  background-color: #ADADAD;
  height: 210px;
  margin-top: 175px;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.img-footer {
  width: 100px;
}

.footer-list__paragraph {
  font-size: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #000000;
}
.footer-list__paragraph-second {
  font-size: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #000000;
  padding-top: 22px;
  margin-left: 105px;
}/*# sourceMappingURL=main.css.map */