.duginets-pendulum {
  background-image: url("/src/img/png/orange-bg.png");
  background-repeat: no-repeat;
  height: 937px;
  margin-top: 365px;
}
.duginets-pendulum-paragraph {
  font-size: 30px;
  font-family: $roboto-fonts;
  font-weight: 400;
  width: 650px;
  padding-top: 255px;
  margin-left: 127px;
}
